@charset "utf-8";
/* CSS Document */
#aboutus
{
	background-image:url(images/papers.co-vs20-paint-abstract-background-htc-pink-blue-pattern-27-wallpaper.jpg);
}
ul
{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#C90;
	position:fixed;
	top:0;
	width:100%;
}
li
{
    margin-left:10px;
	float:left;
}

li a{
	margin-left:10px;
	display:block;
	color:white;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
}

li a:hover:not(.active){
	background-color:#111;
}

.active{
background-color:#111;
}
#form1
{
height:200px;
width:49%;
background-color:#C90;	
}

#form2
{
height:-400px;
width:49%;
background-color:#C90;
float:right;
margin-top:0;	
}
#body
{
	background-image:url(images/25_04_16_014052_Digital_lab.png);
	
}
